{% extends "base_generic.html" %}

<title>Django Index</title>


{% block content %}
{% if userprofile_list %}
    <table>
	    <tr>
 		<th> User  </th>
	        <th> id  </th>
            	<th> RFID access ?  </th>
            	<th> RFID tag HEX  </th>
             	<th> RFID tag #  </th>
             	<th>Update date</th>
             	<th>Sync date</th>
            </tr>
    	{% for up in userprofile_list %}
		<tr>	
			<td> <a href="/doorman/{{ up.id }}/dooraccess/">{{ up.user }}</a> </td>
			<td> {{ up.id }} </td>
			<td> {{ up.rfid_access }} </td>
			<td> {{ up.rfid_tag }} </td>
       			<td> {{ up.rfid_label }} </td>
 			<td> {{ up.update_date }} </td>
       			<td> {{ up.sync_date }} </td>
 

		</tr>
   	{% endfor %}
    </table>
{% else %}
    <p>No users are available.</p>
{% endif %}

{%  endblock %}

