{% extends "base_generic.html" %}

<title>Django Index</title>
<!--
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
-->

{% block content %}
{% if userprofile_list %}
    <table>
	    <tr>
 		<th> User  </th>
	        <th> id  </th>
            	<th> rfid access ?  </th>
            	<th> rfif tag #  </th>
            </tr>
    	{% for up in userprofile_list %}
		<tr>	
			<td> <a href="/doorman/{{ up.id }}/dooraccess/">{{ up.user }}</a> </td>
			<td> {{ up.id }} </td>
			<td> {{ up.rfid_access }} </td>
			<td> {{ up.rfid_tag }} </td>
        
		</tr>
   	{% endfor %}
    </table>
{% else %}
    <p>No users are available.</p>
{% endif %}

{%  endblock %}

