{% load static %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
	<title>doorman user profile detail</title>
    	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<h1>Doorman User Profile Detail</h1>

<h1>{{ object.user }}</h1>
<p>{{ object.rfid_access }}</p>
<p>rfid tag: {{ object.rfid_tag }}</p>
<p>rfid label: {{ object.rfid_label }}</p>
<p>Update Date: {{ object.update_date }}</p>
<p>Sync Date: {{ object.sync_date }}</p>
<p>
	<a
			href="http://192.168.1.109:8888/admin/">Admin
	</a>

</p>



</body>
</html>

